<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toheed Asghar</title>
</head>
<body>

    <div class="resume-container">
        <header>
            <h1>{{personaInfo.name}}</h1>
            <div class="contact">
                <span>{{personalInfo.email}}</span> |
                <span>{{personalInfo.github}}</span> |
                <span>{{personalInfo.linkedin}}</span>
            </div>
        </header>
    </div>

    <section>
        <h2>Professional Summary</h2>
        <span>{{professionalSummary.Summary}}</span>
    </section>

    <section>
        <h1>Professional Experience</h1>
        <div class="job-block">
            
        </div>
    </section>
    
    
</body>
</html>